@tailwind utilities;






*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: gilroy;
  color: #fff;
}

html,
body {
  background-color: #0e0e0d;
  color: #fff;
}

button{
  background: yellow;
  color: #111;
  cursor: pointer;
  margin: 10px;
}
